/* SET BASE
----------------------------------------------- */
* {background: transparent;margin:0;padding:0;outline:none;border: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:collapse;border-spacing:0;}
input, select {vertical-align:middle;}
article, aside, figure, figure img, hgroup, footer, header, nav, section {display: block;}
body { font: 14px/20px 'Open Sans', Arial, Helvetica, sans-serif; line-height:normal; padding:0; margin:0;        
color: #2a2a2a; background-color:#000; height:100%; width:100%; font-weight:400;}
img {max-width:100%;}
.clr {clear: both;}
.clearfix:after {content: ""; display: table; clear: both;}
a {color: #2a2a2a; text-decoration: none;}
a:hover, a:focus {color:#c30; text-decoration: none;}
h1, h2, h3, h4, h5 {font-weight:400; font-size:18px;}
   
.form-wrap {margin:0; background-color:#fff; padding-top:20px;}
.sub-title h1 {margin-bottom:15px; font-size:24px;}
.pm-page, .search-page, .static-page, .tags-page {}


/*--- SET ---*/
.button, .up-second li a, .up-edit a, .qq-upload-button, button:not(.color-btn), html input[type="button"], input[type="reset"], input[type="submit"] {
padding:0 20px; color:#fff; display:inline-block; background-color:#c30;
height:50px; line-height:50px; border-radius:25px; cursor:pointer;}
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;}
button[disabled], input[disabled] {cursor:default;}
.button:hover, .up-second li a:hover, .up-edit a:hover, .qq-upload-button:hover,
button:not(.color-btn):hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover 
{background-color:#b73003; color:#fff;}
button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active 
{box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);}
input[type="submit"].bbcodes, input[type="button"].bbcodes, input.bbcodes, .ui-button 
{font-size: 12px !important; height: 30px !important; line-height:30px !important; padding: 0px 10px; border-radius:3px;}

input[type="text"], input[type="password"] {display:block; width:100%; height:40px; line-height:40px; padding:0 15px;
color:#000000; background-color:#f2f2f2; border-radius:3px; -webkit-appearance: none; box-shadow:none !important;}
input[type="text"]:focus {box-shadow:none !important;}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder {color: transparent}
input:focus:-moz-placeholder {color: transparent}
input:focus:-ms-input-placeholder {color: transparent} 

select {height:40px; border:1px solid #e3e3e3; background-color:#FFF;}
textarea {display:block; width:100%; padding:10px; border:1px solid #e3e3e3; background-color:#FFF; 
border-radius:0 0 6px 6px; box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.1); overflow:auto; vertical-align:top; resize:vertical;}

.img-box {overflow:hidden; position:relative; background-color:#CCC;}
.img-box img {width:100%; min-height:100%;}
.square-img img {display:block; width:150%; max-width:150%; margin-left:-25%;}
.nowrap {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; text-align:center; margin:0 0 5px 0;}
button, .show-login {transition: all .3s;}
a, .mov-mask {transition: color .3s, background-color .3s, opacity .3s;}

.flex-row {display:flex; flex-flow:row wrap; justify-content:space-between;}
.flex-col {display:flex; flex-direction:column; justify-content:center;}
.ic-l span.fa {margin-right:10px;}
.ic-r span.fa {margin-left:10px;}
.ps-link {cursor:pointer;}


/* BASIC GRID
----------------------------------------------- */
.wrap {height:auto; width:100%; min-width:320px; position:relative; padding-top:200px; 
background:url(../images/bg.jpg) center top fixed no-repeat; background-size:100% auto;}
.center {width:100%; min-width:320px; max-width:1264px; margin:0 auto; position:relative; z-index:200;} 
.main {background-color:#f2f2f2; box-shadow:0 0 20px 0 rgba(0,0,0,0.3); border-top:5px solid #C30;}
.header {position:relative; height:100px;padding:20px 360px 20px 300px; background: #fff /* url(../images/bg.png)*/right top no-repeat; }
.cols {padding:20px 0 20px 260px;}
.sidebar {float:left; width:260px; margin-left:-260px;}
.content {float:right; width:100%; min-height:800px; padding:0 40px;}
.footer {background-color:#222; color:#FFF; padding:20px; position:relative; border:10px solid #C30; border-top:0; border-bottom:0;}
.brand-link {display:block; position:absolute; left:0; top:0; right:0; bottom:0; z-index:40;}


/* HEADER
----------------------------------------------- */
.logotype {height:100px; width:260px; display:block; position:absolute; left:0; top:0; 
background:url(../images/logo.png) left center no-repeat; overflow:hidden; text-indent:-1000px; background-size:contain;}
.show-login {cursor:pointer; width:60px; height:60px; line-height:60px; text-align:center; border-radius:50%; 
position:absolute; right:20px; top:20px; background-color:#c30; color:#FFF; font-size:18px;}
.show-login:hover {transform:rotate(360deg);}
.search-box {}
.search-inner {width:100%; position:relative;}
.search-inner input, .search-inner input:focus {width:100%; height:60px; line-height:60px; padding:0 60px 0 20px; 
font-size:18px; font-weight:300;}
.search-box button {position:absolute; right:0; top:0; border-radius:0; font-size:18px;
padding:0; text-align:center; width:60px; height:60px; line-height:60px; color:#000 !important; background:transparent !important;}
.share-box {width:230px; height:32px; position:absolute; top:36px; right:90px;}
.share-box a {width:27px; height:32px; margin:0 5px 0 0; display:inline-block; border-radius:4px;}
.share-box a:hover {opacity:0.7;}


/* SECTION TOP
----------------------------------------------- */
.main-title {line-height:50px; margin-bottom:20px;}
.main-title h1, .main-title h2, .main-title h3 {float:left; font-size:24px; font-weight:300; 
white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:70%;}
.sorter {display:inline-block; float:right; position:relative;
padding:0 20px; line-height:50px; background-color:#fff; border-radius:25px; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1);}
.sorter:before {content:attr(data-label); float:left; padding:0 10px 0 0; cursor:pointer;}
.sorter > i {font-size:10px;}
.sorter form {display:none; background-color:#fff; padding:10px 15px; line-height:24px; box-shadow:0 0 15px 0 rgba(0,0,0,0.2); 
border-radius:4px; position:absolute; right:0; top:100%; width:220px; z-index:999;}
.sorter a:hover {text-decoration:underline;}
.sorter a {color:#2a2a2a; display:block; margin-bottom:10px;}
.sort li.asc a:after, .sort li.desc a:after {content:"\f063"; font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;
display: inline-block; margin-left:10px;}
.sort li.desc a:after {content:"\f062"}


/* SHORTSTORY
----------------------------------------------- */
.floaters {margin:20px -20px;}
.mov {float:left; width:21%; margin:0 2% 40px 2%;}
.mov-i {height:280px; border-bottom:5px solid #C30; box-shadow:0 15px 10px -10px rgba(0,0,0,0.5);}
.mov-t {margin:15px 0 7px 0; display:block; font-size:16px; font-weight:300;}
.mov-c {font-size:12px; color:#888;}
.mov-m {top:10px;/* right:0; */display:inline-block; background-color:#c30; color:#fff; 
padding:0 5px; line-height:28px; height:29px; font-size:12px; position:absolute;}
.mov-m:before {position:absolute; left:100%; top:0; content:""; height:1px; border: 14px solid #c30; border-right-color: transparent; border-left-width: 5px;}
.mov-mask {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; padding:20px; 
background-color:rgba(0,0,0,0.5); color:#FFF; font-size:36px; opacity:0;}
.mov:hover .mov-mask {opacity:1;}
.mov-mask span.fa {width:80px; height:80px; border-radius:50%; text-align:center; line-height:80px; 
box-shadow:inset 0 0 0 2px #fff; margin:0 auto; padding-left:3px;}
.rate-f {height:40px; background-color:#222;}
.rate3 span[id*="vote-num"], .rate3 span[id*="ratig-layer"] {display:none;}
.pluss, .minuss {cursor:pointer; padding:0 10px; line-height:40px; width:50%; float:left; 
color:#71ce3f; text-align:center;}
.minuss {color:#cf3e3e;}
.rate-f span.fa {font-size:18px; margin-right:10px;}
.pluss:hover {color:#FFF; background-color:#028c19;}
.minuss:hover {background-color:#c1050a; color:#fff;}
.mov-r {position:absolute; left:0; bottom:0; width:100%; height:40px; background-color:rgba(0,0,0,0.7);}
.mov-r span.fa {font-size:16px; margin-right:10px;}
.img_vid {border: 3px; color:#53da3f;}         
.img_vid:hover {border: 3px; color:#f26522;}

/* SIDEBAR
----------------------------------------------- */
.side-b {margin-bottom:40px;}
.side-t {font-size:18px; font-weight:300; padding:0 0 0 40px; line-height:50px;}
.side-c {padding:0 0 0 40px;}
.nav ul li {width:47%; display:inline-block;}
.nav a {display:block; padding:5px 0;}
.nav a:hover {text-decoration:underline;}
.decor {position:relative;}
.decor:after {left:0; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute;
border-color: rgba(204, 51, 0, 0); border-left-color: #c30; border-width: 20px; margin-top: -20px;}
.mov-side {width:47%; display:inline-block; margin-bottom:20px; vertical-align:top;}
.mov-side-img {height:140px; margin-bottom:10px;}
.mov-side-title {height:35px; overflow:hidden; text-align:center; font-size:12px;}
.mov-side:hover .mov-side-title {text-decoration:underline;}


/* SEO DESCRIPTION
----------------------------------------------- */
.site-desc {padding:40px 20px; background-color:#fff;}
.site-desc h1, .site-desc h2, .site-desc h3 {font-size:18px; text-transform:uppercase; margin-bottom:10px; font-weight:300;}
.site-desc h1 span, .site-desc h2 span, .site-desc h3 span {color:#c30;}
.site-desc p {margin-bottom:5px;}
.site-desc a {color:#c30; text-decoration:underline;}


/* FOOTER
----------------------------------------------- */
.bot-menu {padding-right:250px;}
.bot-menu li {display:inline-block; margin:0 20px 20px 0;}
.bot-menu a {display:block; color:#fff;}
.bot-text {padding-right:120px; min-height:30px;}
.bot-text, .bot-text a {color:#e3e3e3; font-size:12px;}
.bot-text a, .bot-menu a:hover {text-decoration:underline;}
.footer .share-box {right:10px; top:17px;}
.count {display:inline-block; width:88px; height:31px; background-color:#000; position:absolute; right:20px; top:60px;}


/* FULLSTORY
----------------------------------------------- */
.full-wrap {padding-top:8px;}
.full {position:relative;}
.full-title {margin-bottom:20px;}
.full-title h1 {font-size:24px; font-weight:300;}
.orig-name {margin:5px 0 0 0; color:#888; text-transform:uppercase;}

.cols-mov {padding:20px 20px 20px 270px; margin-bottom:20px; background-color:#FFF; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1);}
.col-mov-left {width:250px; margin-left:-250px; float:left;}
.col-mov-right {width:100%; float:right; padding-left:20px; position:relative;}
.full-tools {position:absolute; right:0; top:-10px; font-size:24px; z-index:888;}
.full-tools a {margin-left:10px; display:inline-block; vertical-align:top; color:#c30;}
.rates {margin-bottom:20px;}
.rates > div {display:inline-block; margin-right:20px; line-height:30px;}
.rates > div:before {content:attr(data-label); display:inline-block; padding:0 10px; margin-right:10px;}
.r-kp:before {box-shadow:inset 0 0 0 1px #f60;}
.r-imdb:before {box-shadow:inset 0 0 0 1px #fc0;}
.mov-list {margin-bottom:5px;}
.mov-list li {padding:0 0 15px 140px; position:relative;}
.mov-list li:after {content: ""; display: table; clear: both;}
.mov-list li:before {content: ""; position:absolute; left:140px; top:5px; width:10px; height:10px; border-radius:50%; 
background-color:#e3e3e3;}
.mov-label {margin-left:-140px; width:140px; float:left; padding-right:10px; text-transform:uppercase; font-weight:600; font-size:12px;}
.mov-desc {width:100%; float:right; padding-left:30px;}
.mov-list a {color:#c30; text-decoration:underline;}
.mov-list a:hover {text-decoration:none;}
.mov-desc-text {margin-bottom:20px;}
.slice {position:relative; overflow:hidden;}
.slice:before {content:'';position:absolute;z-index:1;bottom:0px;left:0;right:0;height:120px;pointer-events:none;
background:-moz-linear-gradient(top, rgba(242,242,242,0) 0%, #f2f2f2 100%);
background:-webkit-linear-gradient(top, rgba(242,242,242,0) 0%, #f2f2f2 100%);
background:linear-gradient(to bottom, rgba(242,242,242,0) 0%, #f2f2f2 100%);}
.slice-btn {position: absolute;z-index: 2;bottom: 0px;left: 0px;right: 0px;text-align: left;}
.slice-btn span {display:inline-block; padding:0 10px ; line-height:30px; 
cursor:pointer; box-shadow:inset 0 0 0 1px #c30; text-transform:uppercase;}
.mov-img {position:relative; background-color:#000;}
.mov-img img {display:block; width:100%; min-height:345px;}

.tabsbox {margin-bottom:20px; position:relative;}
.tabs-sel {margin-bottom:20px;}
.tabs-sel span, .mov-compl a {display:inline-block; cursor:pointer; margin-right:15px;
padding:0 20px; line-height:50px; background-color:#fff; border-radius:25px; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1);}
.tabs-sel span.current {background-color:#c30; color:#fff;}
.js .tabs-b {display:none;}
.js .tabs-b.visible {display:block;}
.tabsbox .video-box {background-color:#fff; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1); padding:20px;}
.mov-compl {position:absolute; right:-15px; top:0;}

.sub-text {margin-bottom:20px;}
.sub-text span {font-size:70px; color:#888; float:left; margin:0 20px 10px 0;}

.rel-title {font-size:24px; font-weight:300; margin-bottom:20px;}
.tcarusel {height:420px; overflow:hidden; position:relative;}
.tcarusel .tcarusel-scroll {position: relative; width: 100000px;}
.tcarusel-item {width:200px; margin:0 40px 0 0;}
.tcarusel-next, .tcarusel-prev {display:inline-block; font-size:18px; position:absolute; top:10px; right:0; cursor:pointer;}
.tcarusel-prev {right:40px;}
.tcarusel-next:hover, .tcarusel-prev:hover {color:#c30;}


/* FULL STORY STATIC
----------------------------------------------- */
.video-box embed, .video-box object, .video-box video, .video-box iframe, .video-box frame {width: 100%; max-width:100% !important;}
.mejs-container {max-width:100% !important;}
.full-text {font:14px/22px Arial, sans-serif;}
.full-text img:not(.emoji) {max-width:100%; border:5px solid #e3e3e3;}
.full-text > img[style*="left"], .full-text > .highslide img[style*="left"] {margin:0 10px 10px 0;}
.full-text > img[style*="right"], .full-text > .highslide img[style*="right"] {margin:0 0 10px 10px;}
.full-text a {text-decoration:underline; color:#06c;}
.full-text a:hover {text-decoration:none;}
.full-text h2, .full-text h3, .full-text h4, .full-text h5 {margin:20px 0; font-size:18px;}
.full-text p {margin-bottom:15px;}
.full-text ul, .full-text ol {margin:0;}
.full-text ul li {list-style:disc; margin-left:40px;}
.full-text ol li {list-style:decimal; margin-left:40px;}
.full-text table {width:100%; text-align:left;}
.full-text table tr td {padding:10px; border:1px solid #ccc; font-size:12px; }
.full-text table tr:nth-child(2n+1) {background-color:#f6f6f6;} 
.full-text table img {display:block; margin:0; border:0; max-width:350px}
.attach {line-height:40px; background-color:#f5f5f5; padding:0 15px 0 0; border-radius:4px; margin:10px 0; overflow:hidden;}
.attach .download-link {color:#FFF !important; text-decoration:none !important; margin-right:15px; float:left; 
display:inline-block; padding:0 15px; background:#0297dc;}
.attach-info {float:right;}
.attach i {margin-right:5px;}
.dcont {border:1px solid #e3e3e3; padding:0 15px 15px 15px; margin:20px 0; line-height:20px; background-color:#FFF;}
.polltitle {display:block; padding:5px 15px; margin:0 -15px 15px -15px; font-size:18px; background-color:#f5f5f5; line-height:normal;}
.full-taglist {margin:20px 0; font-size:12px;}
.full-taglist-t { margin-bottom:5px; font-weight:700;}
.full-taglist a {margin:0 0 3px 0; color:#06c}
.full-taglist span {margin-right:5px;}


/* COMMENTS
----------------------------------------------- */
.full-comms {}
.add-commbtn + form #add-comm-form {display:none; margin:20px 0;}
.add-comm-form {margin-top:20px; background-color:#fff; box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1); padding:20px 20px 10px 140px; position:relative;}
.ac-av {width:80px; height:80px; border-radius:50%; position:absolute; top:20px; left:30px; 
background:#CCC url(../dleimages/noavatar.png) no-repeat; background-size:contain;}
.ac-title {font-weight:700; margin-bottom:10px; font-size:16px;}
.ac-inputs input {width:49%; float:left;}
.ac-inputs input:last-child {float:right;}
.ac-inputs, .ac-textarea {margin-bottom:15px;}
.ac-textarea textarea {height:85px;}
.ac-submit {position:absolute; top:120px; left:0; width:140px; text-align:center;}
.sec-answer + .sec-label {margin-top:10px;}
.add-com-but + form #addcform {display:none; margin:20px 0;}
.ac-protect {margin-top:-10px;}
.ac-protect .label {font-size:12px;}
.ac-protect .sep-input {padding:10px 10px 10px 160px;}
.add-comm-form .login-social {position:absolute; right:17px; top:10px;}

.mass_comments_action {text-align:right; padding:5px 15px; background-color:#f0f0f0; margin:20px 0;}
.last-comm-link {font-size:16px; margin-bottom:10px;}
.last-comm-link a {text-decoration:underline; color:#06c;}

.comments-items {margin:20px 0;}

.comm-item {margin-bottom:20px;}
.comm-one {position:relative; height:40px;}
.comm-one > div {height:100%; float:left; margin-right:20px; line-height:20px;}
.comm-one:before {content:""; width:8px; height:8px; position:absolute; left:-2px; bottom:0;
background-color:#ccc; border-radius:50%;}
.status-online:before {background-color:#3C0;}
.comm-av {width:40px; border-radius:50%;}
.comm-author, .comm-author a {color:#c30; text-transform:uppercase;}
.comm-author a:hover {text-decoration:underline;}
.comm-date, .comm-num {font-size:12px; color:#888;}
.comm-one > div.comm-ratebox {float:right; margin-right:0;}
.comm-two {background-color:#fff; padding:10px; border-radius:3px; margin:10px 0;}
.signature {font:italic 11px Georgia, "Times New Roman", Times, serif; margin-top:10px; padding-top:10px; border-top:1px dashed #e3e3e3;}
.comm-three ul {text-align:right; text-transform:uppercase;}
.comm-three ul li {margin-left:5px; display:inline-block;}
.comm-three li:first-child, .comm-three li.comm-q {float:left; margin-left:0; margin-right:10px;}
.comm-three ul li a {font-size:10px;}
.comm-three ul li span.fa {margin-right:10px; color:#888;}
.comm-three a:hover {text-decoration:underline;}
.comments-tree-list .comments-tree-list {}
.comm-rate {background-color:#f5f5f5; background: linear-gradient(to bottom, #f9f9f9 0%,#f5f5f5 100%); 
border-radius:4px; overflow:hidden; box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2); height:24px; line-height:24px; 
position:relative; padding:0 30px; text-align:center;}
.comm-rate a {display:block; color:#fff; background-color:#7db625; width:24px; height:24px; 
position:absolute; top:0; left:0px; line-height:24px; font-size:12px;}
.comm-rate a:nth-child(2) {background-color:#cd3560; left:auto; right:0;}
.comm-rate a:hover {opacity:0.7;}
.comm-rate > span > span.ratingzero {color: #444444;}
.comm-rate > span > span.ratingtypeplus {color: #06b601;}
.comm-rate > span > span.ratingplus {color: #95c613;}
.comm-rate > span > span.ratingminus {color: #ff0e0e;}

.lcomm .comm-av {margin-right:10px;}
.lcomm .comm-author, .lcomm .comm-group {width:150px; font-size:12px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.lcomm .comm-two {background-color:transparent; padding:0; font-size:12px; margin-bottom:0;}


/* LOGIN
----------------------------------------------- */
.login-box {padding:20px; background-color:#fff; display:none;}
.login-input {margin-bottom:20px;}
.login-button button {display:block; text-align:center; font-size:18px; 
width:100%; height:40px; line-height:40px;}
.login-button button:hover {}
.login-checkbox {font-size:12px; margin:10px 0; color:#888;}
.login-checkbox input {display:none;}
.login-checkbox input + label:before {width:10px; height:10px; margin-right:5px; cursor:pointer; position:relative; top:2px;
border-radius:3px; border:1px solid #ccc; content:""; background-color:#f6f6f6; display:inline-block;}
.login-checkbox input:checked + label:before { background-color:#c9282d;}
.login-links {text-align:center; line-height:30px;}
.login-links a {float:left; text-decoration:underline;}
.login-links a:last-child {float:right;}
.login-links a:hover {text-decoration:none;}
.login-social {text-align:center;}
.login-social:before {content:attr(data-label); display:inline-block; vertical-align:top; line-height:30px; margin-right:10px;}
.login-social a {display:inline-block; margin:0 3px 10px 3px;}
.login-social img {display:block; width:30px;}
.login-social a:hover img {transform:scale(1.1);}
.login-avatar {text-align:center;}
.avatar-box {display:inline-block; width:80px; height:80px; border-radius:0; overflow:hidden;}
.avatar-box img {width:100%; min-height:100%;}
.avatar-box + a {display:block; margin-top:5px; text-decoration:underline;}
.login-menu {margin-top:20px;}
.login-menu a {display:block; height:30px; padding:0 20px; line-height:30px; background-color:#f2f2f2; margin-bottom:5px; border-radius:3px;}
.login-menu a:hover {color:#fff; background-color:#c30;}


/* GO TOP BUTTON */
#gotop{position:fixed;width:40px;height:40px;right:10px;bottom:10px;cursor:pointer;z-index:9998;display:none; opacity:0.8; 
background-color:#000; color:#fff; font-size:18px; text-align:center; line-height:40px; border-radius:4px;}


/* Screenlist */
.namegats{
float: left;
padding: 10px 10px 10px 0px;
color: #707070;
font-size: 14px;
text-transform: uppercase;
}
.box {display:none; padding:0; margin-bottom:0 !important;}
.box.visible {display:block;}
.box-screens {text-align:center; margin-right:-12px;}
.box img {}
.box .highslide {display:inline-block; width:23.1%; height:110px; overflow:hidden; margin-right:1.5%; margin-bottom:5px;}
.box-screens .highslide + br {display:none;}
.box-screens {margin-right:-5px;}

/* download */




/* ADAPTIVE
----------------------------------------------- */
.show-menu {display:none;}

@media screen and (max-width: 1320px) {
.wrap {padding-top:0; background-image:none;}
}

@media screen and (max-width: 1220px) {
.center {max-width:1000px;}
.show-menu {display:block; width:40px; height:40px; line-height:40px; text-align:center; 
cursor:pointer; font-size:30px; position:absolute; top:30px; left:240px;}
.logotype {width:220px;}
.cols {padding:20px 0; overflow:hidden;}
.sidebar {display:none;}
.content {padding:0 20px;}
.viss .sidebar {margin-left:0; margin-right:-300px; background-color:#f2f2f2; box-shadow:10px 10px 10px -10px rgba(0,0,0,0.2); 
display:block; position:relative; z-index:888; width:300px; padding-right:20px;}
.tcarusel {height:380px;}
.tcarusel-item {width:175px; margin:0 20px 0 0;}
.tcarusel-item .mov-i {height:240px;}
}

@media screen and (max-width: 950px) {
.center {max-width:768px;}
.share-box, .count {display:none;}
.header {padding:20px 100px 20px 300px;}
.floaters {margin:20px -10px;}
.mov {width:23%; margin:0 1% 20px 1%;}
.mov-i {height:250px;}
.bot-menu, .bot-text {padding-right:0;}
.tcarusel {height:360px;}
.tcarusel-item {width:165px; margin:0 20px 0 0;}
.tcarusel-item .mov-i {height:220px;}
.pagi-nav {white-space:nowrap; overflow-y:hidden; overflow-x:auto;}
}

@media screen and (max-width: 760px) {
.center {max-width:640px;}
.header {padding:20px 100px 20px 220px;}
.show-menu {left:170px;}
.logotype {width:160px;}
.sorter, .site-desc, .mov-compl {display:none;}
.main-title h1, .main-title h2, .main-title h3 {font-size:18px; max-width:100%;}
.mov {width:31.33%;}
.full-title h1, .rel-title {font-size:18px;}
.cols-mov {padding:10px;}
.col-mov-left {width:200px; margin:0 auto; float:none;}
.col-mov-right {float:none; padding:20px 0 0 0;}
.mov-img img {min-height:200px;}
.tcarusel {height:360px;}
.tcarusel-item {width:165px; margin:0 20px 0 0;}
.tcarusel-item .mov-i {height:220px;}
.tcarusel-next, .tcarusel-prev {top:-2px;}
.sub-text {font-size:12px;}
.tabsbox .video-box {padding:10px;}
.add-comm-form {padding:20px 10px; overflow:hidden;}
.ac-av {display:none;}
.ac-submit {position:static; width:100%;}
.ac-submit button {width:100%;}
.comments-tree-list .comments-tree-list {padding-left:0 !important;}
.mass_comments_action {display:none;}
.sub-title h1 {font-size:18px; line-height:24px;}
}

@media screen and (max-width: 590px) {
.center {max-width:480px;}
.mov {width:46%; margin:0 2% 20px 2%;}
.tabs-sel span, .mov-compl a {margin-right:10px; padding:0 10px; line-height:40px; border-radius:20px;}
.tcarusel {height:330px;}
.tcarusel-item {width:140px; margin:0 10px 0 0;}
.tcarusel-item .mov-i {height:190px;}
.full-soc {display:none;}
.comm-one > div {margin-right:10px;}
.comm-three ul li {display:none;}
.comm-three li.comm-q {display:inline-block;}
.add-comm-form .login-social {position:static; text-align:left;}
.ac-inputs input {width:100%; float:none !important; margin-top:10px;}
.ac-protect {width:100%; float:none; margin:-10px 0 0 0;}
.ac-submit button {float:none; display:block; text-align:center; width:100%;}
.ui-dialog {width:100% !important;}
.upop-left, .upop-right {float:none !important; width:100% !important; margin:0; padding:0 20px;}
.upop-left {margin-bottom:10px; text-align:center;}
.ui-dialog-buttonset button {display:block; margin:0 0 5px 0; width:100%;}
#dofullsearch, #searchsuggestions span.seperator {display:none !important;}
.attach .download-link {margin:0 -15px 0 0; float:none; display:block; padding:0 10px;}
.attach-info {float:none;}
}

@media screen and (max-width: 470px) {
.center {max-width:320px;}
.logotype {width:180px;}
.show-menu {left:190px;}
.header {padding:100px 20px 0 20px; height:150px;}
.search-inner input, .search-inner input:focus {height:40px; line-height:40px; padding:0 50px 0 20px; font-size:14px;}
.search-box button {width:40px; height:40px; line-height:40px;}
.mov-r {display:none;}
.mov-i {height:180px;}
.full-tools {top:0px; font-size:18px;}
.mov-list li {padding:10px; margin:0 -10px;}
.mov-list li:before {display:none;}
.mov-label {margin-left:0; width:auto; font-size:14px;}
.mov-desc {width:auto; float:left; padding-left:0;}
.mov-list li:nth-child(2n+1) {background-color:#f5f5f5;}
.rel-title {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:75%;}
.tcarusel {height:330px;}
.tcarusel-item {width:135px; margin:0 10px 0 0;}
.tcarusel-item .mov-i {height:190px;}
.comm-one > div:nth-child(2) {max-width:140px; overflow:hidden;}
.comm-one > div:nth-child(3) {display:none;}
.ac-protect {margin:-10px -10px 0 -10px;}
.login-social:before {display:block; line-height:30px; margin-right:0;}
}


